{% extends 'codefusionapp/base.html' %}
{% load humanize %}
{% block content %}
<div class="row">
  <div class="col-md-4 text-center">
      <img src="{{ c.flag }}" alt="{{ c.name }} flag" class="img-thumbnail mb-3">
  </div>
  <div class="col-md-8">
      <h3>{{ c.name }} ({{ c.cca2 }})</h3>
      <ul class="list-group mb-3">
        <li class="list-group-item"><strong>Capital:</strong> {{ c.capital }}</li>
        <li class="list-group-item"><strong>Population:</strong> {{ c.population|intcomma }}</li>
        <li class="list-group-item"><strong>Region:</strong> {{ c.region }}</li>
        <li class="list-group-item"><strong>Timezones:</strong> {{ c.timezones|join:', ' }}</li>
        <li class="list-group-item"><strong>Languages:</strong>
            {% for code,name in c.languages.items %}
              {{ name }} ({{ code }}){% if not forloop.last %}, {% endif %}
            {% endfor %}
        </li>
      </ul>
      <h5>Same-regional countries</h5>
      <ul>
        {% for s in same_region %}
          <li>{{ s.name }}</li>
        {% empty %}
          <li>None</li>
        {% endfor %}
      </ul>
      <a class="btn btn-secondary" href="{% url 'countries' %}">Back</a>
  </div>
</div>
{% endblock %}
